<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://files.codepedia.info/uploads/iScripts/html2canvas.js"></script>

<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share on facebook</h4>
      </div>
      <div id="wrp" style="border: 10px solid;padding-bottom: 157px;">
        <div class="modal-body">
          <% @result.each do |f|%>
            <div style="float: left;width: 30%;">
              <% img = open(f[:image])%>
              <% image_data = Base64.encode64(img.read) %>
              <img src="data:image/jpeg;base64,<%=image_data %>" >
              <h4><%= f[:name]%></h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= form_tag("/share_friends_image", method: "post") do %>
          <%= hidden_field_tag "result", @result  %>
          <%= hidden_field_tag "image_data", value: ""%>
          <%= submit_tag "share on Facebook", class: "btn btn-facebook btn-lg", style: "width: 46%;" %>
        <% end %>
        <input id="gimg" type="button" value="Preview" class="btn btn-primary btn-lg" style="width: 46%;"/>
      </div>
      <br/>
      <div id="img" style="display:none;">
        <img src="" id="newimg" />
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $("#gimg").click(function(){
       html2canvas($("#wrp"), {
        onrendered: function(canvas) {
           var imgsrc = canvas.toDataURL("image/png");
           console.log(imgsrc);
           $("#newimg").attr('src',imgsrc);
           $("#img").show();
           $("#image_data").val(imgsrc);
          }
       });
    });  
  });
</script>