<% @posts.each do |post| %>
  <h4> <p> <%= link_to post.title, post_path(post) %> </p></h4> 
  <h4> <p> <%= post.description %> </p></h4>
      <h6> <p> Submitted <%= time_ago_in_words(post.created_at) %> 
      by <%= post.user.email %><p> </h6>

      <p><%= pluralize(post.votes_count, "vote") %> up</p>
 <% end %>