<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= @post.title %></h1>
      <p class="lead">
          by <a href="#"><%= @post.user.email %></a>
      </p>
      <hr>
      <p><span class="glyphicon glyphicon-time"></span> Posted on - <%= @post.created_at.strftime("%A %d %B %Y %I:%M%p") %> </p>

      <hr>
      <img class="img-responsive" src="<%= @post.image_url%>" alt="">
      <hr>
      <p class="lead"><%= @post.description.html_safe %></p>
      <hr>
    </div>
    <p>
      <span id='votes'><%= @post.total_votes %> votes</span>
    </p>
    <% if user_signed_in? && current_user.provider.present? %>
      <p><%= link_to "share", share_on_facebook_post_path(@post) %></p>
    <% end %>
  </div>
</div>